.board {
    display: flex;
    gap: 20px;
  }
  
  .column {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .column h2 {
    margin-bottom: 10px;
  }

  
  .share-button-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  #shareButton {
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #shareButton:hover {
    background-color: #0056b3;
  }
  